body {
    background: #42a5f5;
    margin: 0 0;
}

.container {
    height: 100%;
    width: 100%;
}
.appbar {
    background: #ffb2ff;
    height: 72px;
}

.sidebar {
    position: fixed;
    top: 72px; /* same as container height */
    left: -100px;
}

.showsidebar {
    transform: translate(100px,0);
}

.hidesidebar {
    transform: translate(-100px,0);
}

/* display: flex | inline-flex */
/* order: <integer> */
/* flex-direction: row | row-reverse | column | column-reverse */
/* flex-grow: <number> */
/* flex-wrap: nowrap | wrap | wrap-reverse */
/* flex-basis: <length> | auto */
/* flex-flow: <‘flex-direction’> || <‘flex-wrap’> */
/* flex: none | [ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ] */
/* justify-content: flex-start | flex-end | center | space-between | space-around */
/* align-self: auto | flex-start | flex-end | center | baseline | stretch */
/* align-items: flex-start | flex-end | center | baseline | stretch */

.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-flex-start {
    justify-content: flex-start;
}

.justify-flex-end {
    justify-content: flex-end;
}

.align-stretch {
    align-items: stretch;
}

.align-flex-start {
    align-items: flex-start;
}

.align-flex-center {
    align-items: center;
}