body {
    background: red;
    height: 2000px;
}

.appbar {
    height: 70px;
    width: 100%;
    background: yellow;
    position: fixed;
    top: 0;
    left: 0;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.flex-item {
    margin-top: auto;
    margin-bottom: auto;
}
