.main-container {
  /* 400 deep orange */
  background: #FF7043;
  box-sizing: border-box;
}

.all-menu {
  box-sizing: inherit;
  width: 50%;
  height: 100%;
  /* 500 grey */
  border: 1px solid #9E9E9E;
}

.menu001 {
  background-color: #8BC34A;
  align-content: flex-start;
  
  .logoimg {
    // max-width: 100%;
    max-height: 100px;
  }
}

