.logo-img {
  background-image: url('./images/logo.jpg');
}

.home-w {
  content: url('./images/ic_home_white_24px.svg');
  /*background-image: url('./images/ic_home_white_24px.svg');*/
}

.left-w {
  content: url('./images/ic_navigate_before_white_24px.svg');
  /*background-image: url('./images/ic_navigate_before_white_24px.svg');*/
}

.right-w {
  background-image: url('./images/ic_navigate_next_white_24px.svg');
}

.star-w {
  background-image: url('./images/ic_grade_white_24px.svg');
}